@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: white;
    color: #1f2937;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

}

/* @layer components {
  .page-wrapper {
    @apply flex flex-col min-h-screen;
  }

  .page-container {
    @apply flex-1 w-full max-w-7xl mx-auto px-8 py-8;
  }
} */

@layer utilities {
  .gradient-primary {
    background: linear-gradient(135deg, #24bd39, #3dd83d);
  }

  .gradient-dark {
    background: linear-gradient(135deg, #3b3d3c 0%, #363d37 100%);
  }
}